@media (max-width: 768px) {
  /* Styles for tablets and smaller screens */
}


@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
/* CSS variables */

@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css');
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #170d0b;
    --background-color: white ;
    --text-color: #2c3e50;
    --primary-font: arial, sans-serif;
    --secondary-font: 'Merriweather', serif;
    --font-size: 16px;
}


h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: Merriweather, serif;
}
.sub-heading-color {
    color: var(--highlight-color);
}

.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;

}

/*navbar*/

nav {
    display: flex;
    flex-wrap: wrap;
    }
    
    nav a {
 background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
  display: block;
    text-decoration: none;
     padding: 15px 25px;
    text-align: center; }
   
    .full-height {
        min-height: 100vh;
        text-align: center;
    }
    
    
/* General body styling */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--primary-font);
    line-height: 1.6;
    padding: 20px;
}


/* Links */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Lists */
ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}






